/*   BOX-SIZING   */

html{
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*   BASE   */

body{
    margin: 0;
    padding: 0;

    font-family: "Averia Serif Libre", serif;
    color: #eca136;

    background-color: rgb(9, 26, 33);
}

a{
    text-decoration: none;
}

/*   MISE EN PAGE   */

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

/*  MODULES   */

header {
    width: 1000px;
    background-color: rgba(15, 38, 49, 95.0);

    margin-left: calc(50% - 500px);

    z-index: 1;
    position: fixed; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wrapper h1 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;

    size: 80px;
}



.contenu{
    margin-top: 100px;
    margin-bottom: 0;
}

img{
  max-width: 100%; 
}

.contenu ul{
    display: grid;
    grid-template-columns: 2fr 2fr;

    gap: 45px;
    padding: 0;
    list-style: none;
      
}

.contenu li{
    padding: 20px;
    background-color: rgb(15, 38, 49);
    border-radius: 10px;
}

.bouton{
    background-color: white;
    opacity: 50%;

    size: 30px;
}


